<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>home</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../../public/css/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
	<div class="home-banner">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="index.html">
				<img src="../../public/imagens/logo.png" alt="">
			</a>
			
			<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
								Home<span class="sr-only">(current)</span>
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#">Instituições parceiras</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#">Sobre nós</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#">Time</a>
					</li>
				</ul>
				
				<form class="form-inline logar">
					<div class="form-group mx-sm-0 mb-2">
						<label for="login" class="sr-only">Email</label>
						<input type="text" class="form-control" id="login" placeholder="Login">
					</div>
					
					<div class="form-group mx-sm-2 mb-2">
						<label for="senha" class="sr-only">Senha</label>
						<input type="password" class="form-control" id="senha" placeholder="Senha">
					</div>
					
					<button type="submit" class="btn btn-primary mb-2 style-btn-primary animation-style">Entrar</button>
				</form>
			</div>
		</nav>

		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">
				<h1 class="display-4 style-main-text style-color-white">
					<b>
						Nos ajude a coninuar <br>ajudando
					</b>
				</h1>

				<p class="lead style-color-white">
					"Aquele que tem caridade no coração, sempre <br>tem algo para dar
				</p>

				<a href="#intituicoes-parceiras">
					<button type="button" class="btn btn-primary style-btn-primary rounded-50 center">
						Connhça as intituições
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-7 col-md-10 col-sm-12 mx-auto">
				<div class="passos col-12 mx-auto">
					<div class="passo-quadro col-lg-4 col-sm-4">
						<div class="passo-quadro__content">
							<img src="../../public/imagens/img-conheca.png" alt="">
							<p class="style-color-yellow-02 passo-titlo">Conheça</p>
							<p>Loren ispun dolor met sit amet,consectutur adipising elit</p>
						</div>
					</div>

					<div class="passo-quadro col-lg-4 col-sm-4">
						<div class="passo-quadro__content">
							<img src="../../public/imagens/voluntarie-se.png" alt="img-01">
							<p class="style-color-green-02 passo-titlo">Conheça</p>
							<p>Loren ispun dolor met sit amet,consectutur adipising elit</p>
						</div>
					</div>

					<div class="passo-quadro col-lg-4 col-sm-4">
						<div class="passo-quadro__content">
							<img src="../public/imagens/doe.png" alt="img-01">
							<p class="style-color-pink-02 passo-titlo">Conheça</p>
							<p>Loren ispun dolor met sit amet,consectutur adipising elit</p>
						</div>
					</div>
				</div>

				<div class="intituicoes-parceiras col-lg-12 mx-auto text-center" id="intituicoes-parceiras">
					<h2 class="style-text-primary style-color-blue-02">instituições parceiras</h2>
					<br>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet magna sagittis, posuere tellus vitae, laoreet turpis. Integer sollicitudin ut est a pretium.
					</p>

					<div class="instituicoes-parceiras__instituicao col-lg-4 col-md-4">
						<div class="instituicao-content">
							<img src="../../public/imagens/instituicao-03.png" class="img-fluid" alt="...">
							<p class="style-color-blue-03">Integer scelerisque</p>
							<a href="visualizar-instituicao.html" style="display: block">
							<button type="button" class="btn btn-primary style-btn-primary rounded-50 col-lg-12">
								Conheça-nos
							</button>
							</a>
						</div>
					</div>

					<div class="instituicoes-parceiras__instituicao col-lg-4 col-md-4">
						<div class="instituicao-content">
							<img src="../../public/imagens/instituicao-01.png" class="img-fluid" alt="...">
							<p class="style-color-blue-03">Loren Ipsun Dollor</p>
							<button type="button" class="btn btn-primary style-btn-primary rounded-50 col-lg-12">Conheça-nos</button>
						</div>
					</div>

					<div class="instituicoes-parceiras__instituicao col-lg-4 col-md-4">
						<div class="instituicao-content">
							<img src="../../public/imagens/instituicao-02.png" class="img-fluid" alt="insituicao">
							<p class="style-color-blue-03">volutpat purus</p>
							<button type="button" class="btn btn-primary style-btn-primary rounded-50 col-lg-12">Conheça-nos</button>
						</div>
					</div>
				</div>
			</div>

			<div class="sobre-nos col-lg-12 mx-auto">
				<div class="sobre-nos__texto col-lg-6 float-left">
					<h3 class="style-text-primary style-color-blue-02">
						Sobre a doe bem
					</h3>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet magna sagittis, posuere tellus vitae, laoreet turpis. Integer sollicitudin ut est a pretium. Aenean scelerisque enim non nunc placerat hendrerit et quis ante. Cras non dignissim tortor. Pellentesque at enim at justo viverra tristique. In sed eros viverra, convallis mauris a, congue nisl. Pellentesque at suscipit ante.
					</p>
				</div>

				<div class="sobre-nos__imagens col-lg-6 float-right">
					<div class="row">
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
						
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
						
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
					</div>
					<div class="row">
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
						
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
						
						<div class="col-4 sobre-nos__imagens-content">
							<img src="../../public/imagens/instituicao-01.png" class="rounded float-left col-12" alt="...">
						</div>
					</div>
				</div>
			</div>

			<div class="time col-lg-6 col-md-10 mx-auto text-center">
				<h3 class="style-text-primary style-color-blue-02">time</h3>
				<br>
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet magna sagittis, posuere tellus vitae, laoreet turpis. Integer sollicitudin ut est a pretium.
				</p>

				<div class="row">
					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 <col-sm-6></col-sm-6> col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>

					<div class="time-pessoa col col-lg-3 col-sm-6 col-md-3">
						<div class="time-content" style="background:url('../public/imagens/instituicao-01.png');">
							<div class="time-img">
							</div>
							
							<div class="degrade"></div>
							
							<div class="time__funcao">
								<p>
									<b>Loren ipun</b>
									<br>
									<span>Função</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="../public/js/lib/bootstrap/bootstrap.min.js"></script>
</body>

</html>